In [ ]:
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import joblib
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv('ml_data.csv')
df.head()

In [ ]:
 df.tail()

In [ ]:
df['gender'] = df['gender'].replace("Male", 1)
df['gender'] = df['gender'].replace("Female", 0)
df.head()

In [ ]:
# selection of input and output variables
X = df[['weight','gender']]
y = df['likeness']

In [ ]:
X.head()

In [ ]:
y.head()

In [ ]:
# machine learning algorthim 

# Create and fit our model
model = DecisionTreeClassifier().fit(X, y)

# Prediction 
model.predict([[65, 1]])

# how to measure the accuracy of our model

X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.2, random_state=1) 

model = DecisionTreeClassifier ()
model.fit(X_train, y_train)

predicted_values = model.predict(X_test)
predicted_values

In [ ]:

score = accuracy_score(y_test, predicted_values)
score

In [ ]:
# how to train and save your model

model = DecisionTreeClassifier().fit(X, y)

joblib.dump(model, "foodie.joblib")

In [ ]:


model =  DecisionTreeClassifier().fit(X, y)
from sklearn.tree import export_graphviz
export_graphviz(model, 
                        out_file = 'foodie.dot'
                        ,feature_names= ['weight', 'gender'],
                        class_names = sorted(y.unique()),
                        label = 'all', 
                        rounded = 'True',
                        filled= 'True')

In [ ]:
# how to run a stored or saved model on our data

-------------

-----

-------------

In [23]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection  import train_test_split
from sklearn.tree import export_graphviz
from sklearn.metrics import accuracy_score

In [24]:
df = pd.read_csv('ml_data.csv')
df.head()

   age   height  weight gender likeness
0   27  170.688    76.0   Male  Biryani
1   41  165.000    70.0   Male  Biryani
2   29  171.000    80.0   Male  Biryani
3   27  173.000   102.0   Male  Biryani
4   29  164.000    67.0   Male  Biryani

In [27]:
df['gender'] = df['gender'].replace('Male', 1)
df['gender'] = df['gender'].replace('Female', 0)
df.tail()

     age   height  weight  gender likeness
144   20  144.000    53.0       0  Biryani
145   23  173.736    62.0       0  Biryani
146   25  168.000    55.0       1  Biryani
147   26  174.100    76.0       1   Samosa
148   31  164.600    68.0       1   Samosa

In [28]:
X = df[['age', 'weight', 'gender']]
y = df['likeness']
print(X.head())
print(y.head())

   age  weight  gender
0   27    76.0       1
1   41    70.0       1
2   29    80.0       1
3   27   102.0       1
4   29    67.0       1
0    Biryani
1    Biryani
2    Biryani
3    Biryani
4    Biryani
Name: likeness, dtype: object

In [35]:
model = DecisionTreeClassifier().fit(X, y)
predicted_values = model.predict([[25, 154, 0]])
predicted_values

c:\Users\DELL\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['Biryani'], dtype=object)

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state  = 0)

In [40]:
model = DecisionTreeClassifier().fit(X_train, y_train)

predicted_values  = model.predict(X_test)
predicted_values

array(['Pakora', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Samosa', 'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani', 'Biryani',
       'Biryani', 'Samosa', 'Biryani', 'Biryani', 'Biryani', 'Samosa',
       'Samosa', 'Pakora', 'Samosa', 'Biryani', 'Pakora', 'Pakora'],
      dtype=object)

In [41]:
score = accuracy_score(y_test, predicted_values)
score

0.5

In [45]:
model = DecisionTreeClassifier().fit(X,y)
joblib.dump(model, 'OwnFoodie.joblib')

['OwnFoodie.joblib']

In [46]:
model = DecisionTreeClassifier().fit(X, y)
export_graphviz(model, 
                out_file = "OwnFoodie.dot",
                feature_names = ['age','weight', 'gender'],
                class_names= sorted(y.unique()),
                label = 'all', 
                rounded = 'True',
                filled  = 'True')